/* Start Variables */

:root {

    /* Pallete */
    --primary-solid-black: #000000;
    --primary-solid-grey: #4D5254;
    --primary-solid-grey-warm: #CFCFCF;
    --primary-solid-white: white;

    --secondary-solid-blue: #2C7EF8;
    --secondary-solid-green: #59AE43;     

    /* Typography */
    --manrope-font: 'Manrope', sans-serif;

    /* Font-size */
    --font-48px: 4.8em;
    --font-32px: 3.2em;
    --font-24px: 2.4em;
    --font-20px: 2em;
    --font-16px: 1.6em;
    --font-14px: 1.4em;
    --font-12px: 1.2em;
    --font-10px: 1em;  

}

/* End Variables */

/* Start styles normalization*/

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--manrope-font);
    font-size: 62.5%;
    color: var(--just-black);  
}

a {
    text-decoration: none;
    color: var(--primary-solid-white);
    font-size: var(--font-12px);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2em;
    text-align: center;
}

ul, ol {
    list-style-type: none;
}


/* End styles normalization*/
/* Header styles starts here*/

    /* Slider container styles starts here*/

    .header-main-container {
        width: 100%;
        min-width: 360px;
        height: 102px;  
        max-height: 1500px;
        padding-bottom: 20px;
    }

    .slider {
        width: 100%;
        height: 42px;
        overflow: hidden;

        background-color: var(--primary-solid-grey);

    }

    .slider__container {
        width: 90%;
        
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        justify-content: center;
        gap: 1em;
        margin: 0 auto;
        margin-top: 10px;

    }

    .slider__body {
        grid-column: 2/3;
        grid-row: 1/2;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1.5s;

        display: grid;
        grid-template-columns: 30px max-content;
        justify-content: center;
        place-items: center;

    }

    .slider__body--show {
        opacity: 1;
        pointer-events: unset;
    }

    .slider__arrow {
        cursor: pointer;
        margin: auto;
    }

    .slider__arrow:nth-child(2) {
        justify-self: end;
    }

    .slider__icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 5px;
    }

    .icon-1 {
        background-image: url('../assets/icons/001_header_icon_1.png');
    }

    .icon-2 {
        background-image: url('../assets/icons/001_header_icon_2.png');
    }

    .icon-3 {
        background-image: url('../assets/icons/001_header_icon_3.png');
    }

    .icon-4 {
        background-image: url('../assets/icons/001_header_icon_4.png');
    }

    /* Slider container styles ends here*/  
    /* Image container styles starts here*/

    .header-images {
        width: 100%;
        min-width: 360px;

        display: flex;
        justify-content: space-between;
    }

    .logo-container img {
        width: 106px;
        height: 20px;
        margin: 15px 0 60px 20px;
    }

    .partners-container img {
        width: 44px;
        height: 16px;
        margin: 15px 20px 60px 0;
    }

    /* Image container styles ends here*/


/* Header styles ends here*/
/* Main styles starts here*/

    /* Titles section styles starts here*/
    .title-container {
        width: 100%;
        min-width: 360px;
        padding-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

    .title-container h1 {
        font-size: var(--font-32px);
        font-weight: 400;
        line-height: 4.48rem;
        letter-spacing: 0.01px;
        color: var(--primary-solid-black);
    }

    .title-container h3 {
        font-size: var(--font-16px);
        font-weight: 400;
        line-height: 2.24rem;
        color: var(--primary-solid-grey);

        padding-top: 5px;
        margin-bottom: 7.5px;
    }

    /* Titles section styles ends here*/
    /* Step by step section styles starts here*/

    .step-menu-container {
        width: 100%;
        min-width: 360px;

        font-size: var(--font-12px);
        font-weight: 400;
        font-weight: 1.32rem;
        text-align: center;
    }

    .step-by-step-container {
        width: 90%;
        height: auto;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }

    .step-container{
        display: grid;
        grid-auto-rows: 1fr;
    }

    .step-icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        justify-self: center;
    }

    .step-container p {
        margin-top: 5px;
    }

    .step__checked {
        background-image: url('../assets/icons/002_step-by-step_icon_1.png');
    }

    .step__current {
        background-image: url('../assets/icons/002_step-by-step_icon_2.png');
    }

    .step__working {
        background-image: url('../assets/icons/002_step-by-step_icon_3.png');
    }

    /* Step by step section styles ends here*/
    /* Product info section styles starts here*/

    .product-container {
        width: 100%;
        min-width: 360px;
        height: auto;

        margin-top: 20px;
        margin-bottom: 25px;
    }

    .product-main-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 5;
        justify-content: center;
    }

    /* Product info discount starts here */

        .product-discount {
            width: 90%;
            height: auto;
            min-width: 360px;
            margin: 0 auto;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .product-discount h2 {
            text-align: center;
            font-size: var(--font-24px);
            font-weight: 400;
            line-height: 3.36rem;
            padding: 0 10px;
        }

        .discount__blue {
            color: var(--secondary-solid-blue);
        }

    /* Product info discount ends here */
    /* Product image starts here */

        .product-container {
            width: 88%;
            margin: 0 auto;
        }

        .product-container img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    /* Product image ends here */
    /* Product features ends here */
        .product-features {
            width: 100%;
            min-width: 320px;
            height: auto;

            display: grid;
            grid-template-columns: 1;
            grid-template-columns: 3;
            margin-top: 10px;
        }

        .features-stock-price {
            width: 100%;
            height: auto;

            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 80px;

            margin-top: 20px;
        }


        .features-stock-price .stock-info {
            width: 100%;
            height: auto;

            display: grid;
            grid-template-columns: 1;
            grid-template-rows: 1fr 1fr 1fr;
        }

        .features-stock-price .stock-info .stock-info-name p {
            font-size: var(--font-14px);
            font-weight: 400;
            line-height: 1.96rem;
            color: var(--primary-solid-black);
        }

        .features-stock-price .stock-info .stock-info-stars, .stock-remaining {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .features-stock-price .stock-info .stock-info-stars img{
            width: 68px;
            height: 12px;
        }

        .stock-remaining .stock-remaining__item {
            width: 12px;
            height: 12px;
            display: inline-block;

            background-image: url('../assets/images/002_product_left.png');
            margin-right: 12px;
        }

        .features-stock-price .stock-prices {
            display: flex;
            flex-wrap: wrap;
            align-content: start;
            justify-content: end;
        }

        .features-stock-price .stock-prices .normal-price {
            font-size: var(--font-10px);
            font-weight: 600;
            line-height: 1.96rem;
            color: var(--primary-solid-grey);
            text-decoration: line-through;
            
            margin-top: 1px;
            margin-right: 10px;
        }

        .features-stock-price .stock-prices .discount-price {
            font-size: var(--font-14px);
            font-weight: 600;
            line-height: 1.96rem;
            color: var(--secondary-solid-blue);
            text-decoration: line-through;
        }

        .features-stock-price .stock-image img {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }


        .features-main-characteristic {
            margin-top: 10px;
        }

        .features-main-characteristic p {
            font-size: var(--font-12px);
            font-weight: 400;
            line-height: 1.68rem;
            text-align: center;
        }

        .features-another-characteristics {
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: 3;
        }

        .features-another-characteristics .another__characteristic {
            display: flex;
            margin: 10px 0;
        }

        .features-another-characteristics .another__characteristic p {
            font-size: var(--font-12px);
            font-weight: 400;
            line-height: 1.92rem;
            color: var(--primary-solid-grey);
            align-self: center;
        }

        .features-another-characteristics .another__characteristic b {
            font-weight: 700;
        }

        .features-another-characteristics .another__characteristic img {
            margin-right: 10px;
            height: 16px;
            width: 16px;
            margin-top: 2px;
        }
        
    /* Product features info ends here */
    /* Product save money starts here */
        .product-save-money {
            width: 100%;
            min-width: 360px;
            margin-top: 20px;
        }

        .save-money-info {
            width: 100%;
            height: 64px;
            margin: 0 auto;

            display: flex;
            justify-content: center;

            background-color: #EDF3FD;
            border-radius: 10px;
        }

        .save-money-info .money-info__icon {
            display: inline-block;
            width: 36px;
            height: 36px;
            background-image: url('../assets/icons/004_main_percent.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            align-self: center;
            margin-left: 30px;
            margin-right: 10px;
        }

        .save-money-info p {
            align-self: center;

            font-size: var(--font-14px);
            font-weight: 400;
            line-height: 1.96rem;
            margin: 0 30px 0 15px;
        }
        
        .save-money-get-discount {
            min-width: 320px;
            min-height: 51px;

            background-color: var(--secondary-solid-green);
            border-radius: 50px;

            padding: 18px 55px 16px 55px;
            margin: 0 auto;
            margin-top: 30px;

            text-align: center;
            font-size: var(--font-14px);
            font-weight: 700;
            line-height: 1.912rem;

        }

        .save-money-get-discount a {
            text-align: center;
        }

        .save-money-get-discount a .get-discount__space {
            display: inline-block;
            padding-left: 15px;
        }

        .save-money-payment {
            width: 100%;
            min-width: 360px;
            margin: 15px 0;
        }

        .save-money-payment .payment-container {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: repeat(1, 35px);
            
            font-size: var(--font-12px);
            font-weight: 400;
            line-height: 1.68rem;

            border: 1px solid var(--primary-solid-grey-warm);
            border-radius: 4px;
        }

        .payment-info {
            grid-column: 1 / 3;
            grid-row: 1 / 2;  
            place-self: center; 
        }

        .payment-info .info__item {
            border-bottom: 1px solid var(--primary-solid-grey-warm);
            padding-bottom: 5px;
            padding-right: 5px;
        } 

        .payment-info .separate__item {
            display: inline-block;
            width: 1px;
            height: 10px;
            background-image: url('../assets/icons/004_main_11.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 0 10px;
        }

        .payment-info .info__item .security__item {
            display: inline-block;
            width: 12px;
            height: 12px;
            background-image: url('../assets/icons/004_main_10.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 7.5px;
        }

        .payment-cards {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            place-self: center;
            margin-top: 5px;
        }

        .payment-cards .card__image {
            width: 24px;
            height: 14px;
        }

        .save-money-reject {
            text-align: center;
        }

        .save-money-reject a {
            font-size: var(--font-12px);
            font-weight: 500;
            line-height: 1.639rem;
            border-bottom: 1px solid #F82C2C;
            color: #F82C2C;
        }

        
    /* Product discount info ends here */
    /* Product quality starts here */
        .product-quality {
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 3.75fr;
            margin: 0 auto;
            margin-top: 30px;
            
        }

        .product-quality {
            font-size: var(--font-12px);
            font-weight: 400;
            line-height: 1.68rem;
        }

        .product-quality .quality__icon {
            display: inline-block;
            width: 48px;
            height: 48px;

            background-image: url('../assets/images/002_main_quality.png');
            background-repeat: no-repeat ;
            background-size: contain;
        }

        .product-quality .quality__bold {
            font-weight: 700;
        }
    /* Product quality ends here */


    /* Product info section styles ends here*/
/* Main section styles ends here*/
/* Footer section styles starts here*/

    .footer-container {
        width: 100%;
        height: auto;
        min-width: 360px;
        margin-top: 25px;
        padding: 16px 0;
        background-color: var(--primary-solid-grey);
        color: var(--primary-solid-white);
        font-size: var(--font-12px);
        font-weight: 400;
        line-height: 1.68rem;
        text-align: center;
    }

    .footer-info-container {
        width: 90%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2;
    }

    .footer-info-container .right-container {
        display: flex;
        justify-content: stretch;
        
        margin: 0 auto;
    }

    .footer-info-container .right-container .right-icon {
        width: 13px;
        height: 13px;
        display: inline-block;
        background-image: url('../assets/icons/003_footer_icon_1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        place-self: center;
    }

    .footer-info-container p {
        display: inline-block;
        padding: 8px 0;
        padding-left: 10px;

    }

/* Footer section styles ends here*/


















@media (min-width: 1500px) {

/* Header section styles starts here*/
.logo-container img {
    width: 192px;
    height: 36px;
}

.partners-container img {
    width: 88px;
    height: 32px;
}
/* Header section styles starts here*/
/* Titles section styles starts here*/

.title-container {
    margin-bottom: 50px;
}

.title-container h1 {
    font-size: var(--font-48px);
    font-weight: 400;
    line-height: 4.8rem;
}

.title-container h3 {
    font-size: var(--font-24px);
    line-height: 2.4rem;
}

.slider__container {       
    display: flex;
    justify-content: space-around;
}

.slider__body {
    opacity: 1;
}

.slider__arrow {
    display: none;
    opacity: 0;
    cursor: none;
}

/* Titles section styles ends here*/
/* Step by step section styles starts here*/

.step-by-step-container {
    width: 90%;
    height: auto;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.step-container{
    display: flex;
    justify-items: center;
    align-items: center;
}

.step-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.step-container p {
    font-size: var(--font-20px);
    font-weight: 400;
    line-height: 2.2rem;
    margin-top: 0;
}

/* Step by step section styles ends here*/
/*Product container starts here*/

    .product-main-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin-top: 40px;
    }

    .product-image {
        grid-row:  1/4;
        grid-column: 1/2;
    }

    .product-image img {
        width: 100%;
        height: 100%;
    }

    /* Product info discount starts here */

        .product-discount h2 {
            text-align: start;
            font-size: var(--font-32px);
            font-weight: 400;
            line-height: 4.48rem;
        }

        .discount__blue {
            font-weight: 600;
        }

    /* Product info discount ends here */
    /* Product features ends here */
    .product-features {
        width: 88%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .features-stock-price {
        width: 100%;
        max-width: 550px;
        height: auto;
        margin: 0 auto;
    }

    .features-stock-price .stock-info {
        margin-left: 10px;
    }

    .features-stock-price .stock-info .stock-info-name p {
        font-size: var(--font-20px);
        font-weight: 400;
        line-height: 2.8rem;
        color: var(--primary-solid-black);
    }

    .features-stock-price .stock-info .stock-info-stars img{
        width: 98px;
        height: 18px;
        float: left;
    }

    .stock-remaining p {
        font-size: var(--font-16px);
        font-weight: 300;
        line-height: 2.186rem;
    }

    .stock-remaining .stock-remaining__item {
        width: 16px;
        height: 16px;
        display: inline-block;

        background-repeat: no-repeat;
    }

    .features-stock-price .stock-prices .normal-price {
        font-size: var(--font-16px);
        line-height: 2.186rem;
        margin-top: 6px;
    }

    .features-stock-price .stock-prices .discount-price {
        font-size: 22px;
        font-weight: 600;
        line-height: 3.08rem;
    }

    .features-stock-price .stock-image img {
        width: 134px;
        height: 134px;
    }


    .features-main-characteristic {
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        padding-left: 164px;
    }

    .features-main-characteristic p {
        font-size: var(--font-16px);
        line-height: 2.24rem;
        text-align: start;
    }

    .features-another-characteristics {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .features-another-characteristics .another__characteristic p {
        font-size: var(--font-16px);
        font-weight: 400;
        line-height: 2.56rem;
    }

    .features-another-characteristics .another__characteristic b {
        font-weight: 400;
    }

    .features-another-characteristics .another__characteristic img {
        height: 22px;
        width: 22px;
    }
    
    /* Product features info ends here */

   /* Product save money starts here */
   
   .product-save-money {
        width: 88%;
        margin: 0 auto;
        grid-row:  3/4;
        grid-column: 2/3;
    }

    .save-money-info .money-info__icon {
        width: 32px;
        height: 32px;
    }

    .save-money-info p {
        font-size: var(--font-16px);
        line-height: 2.24rem;
    }

    .save-money-get-discount {

        text-align: center;
        font-size: var(--font-20px);
        font-weight: 700;
        line-height: 2.732rem;

    }

    .save-money-payment {
        margin: 10px 0;
    }

    .save-money-payment .payment-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .payment-info {
        grid-column: 1 / 3;
        grid-row: 1 / 2;  
    }

    .payment-info .info__item {
        border-bottom: none;
        padding-bottom: 0;
    } 

    .payment-cards {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        place-self: center;
        margin-top: 5px;
    }

    .save-money-reject {
        padding-top: 15px;
    }

    .save-money-reject a {
        font-size: 18px;
        font-weight: 500;
        line-height: 2.459rem;
    }
    /* Product discount info ends here */


    .product-quality {
        grid-row:  4/5;
        grid-column: 2/3;
    }

    .product-quality {
        width: 90%;
        display: grid;
        grid-template-columns: 150px 1fr;
        
    }

    /* Product quality starts here */
    .product-quality {
        font-size: var(--font-16px);
        font-weight: 400;
        line-height: 2.24rem;
    }

    .product-quality b {
        font-weight: 600;
    }

    .product-quality .quality__icon {
        width: 88px;
        height: 88px;
    }

    .product-quality .quality__bold {
        font-weight: 700;
    }
    /* Product quality ends here */
/* Product container ends here */
/* Footer section styles starts here*/

.footer-container {
    font-size: var(--font-16px);
    font-weight: 400;
    line-height: 2.24rem;
}

.footer-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
}

.footer-info-container .right-container .right-icon {
    width: 13px;
    height: 13px;
}

/* Footer section styles ends here*/
}